/bin/
build/

gradle.properties

# Eclipse
.project
.classpath
.settings
eclipse/

run/

# OS
Thumbs.db
.DS_Store

# Gradle
.gradle
!gradle-wrapper.jar
AdditionalStatus_Client.launch
AdditionalStatus_Server.launch
